@-ms-viewport
{
	width: 770px;
}

@-webkit-viewport
{
	width: 770px;
}

@-o-viewport
{
	width: 770px;
}

@-moz-viewport
{
	width: 770px;
}

@viewport
{
	width: 770px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.75px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #4C4C4C;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-top: -1px;
}

#page_position_content
{
	margin-bottom: -1px;
}

#pu1796
{
	width: 0.01px;
	position: relative;
}

#u1796
{
	z-index: 2;
	width: 767px;
	padding-bottom: 30px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#menuu1094
{
	z-index: 4;
	width: 128px;
	margin-right: -10000px;
	margin-top: 41px;
	left: 276px;
}

#u2339
{
	width: 67px;
	min-height: 43px;
	margin-right: -10000px;
}

#u2340
{
	width: 67px;
	padding-bottom: 35px;
}

#u2340:hover
{
	margin: 0px;
}

#u2340:active
{
	margin: 0px;
}

#u2342
{
	height: 8px;
	width: 48px;
	margin-right: -10000px;
	top: 18px;
	left: 8px;
}

#u1123
{
	width: 59px;
	min-height: 43px;
	margin-right: -10000px;
	left: 69px;
}

#u1126
{
	width: 59px;
	padding-bottom: 35px;
}

#u2340.MuseMenuActive,#u1126:hover
{
	margin: 0px;
}

#u1126:active
{
	margin: 0px;
}

#u1126.MuseMenuActive
{
	margin: 0px;
}

#u1128
{
	height: 8px;
	width: 41px;
	margin-right: -10000px;
	top: 18px;
	left: 8px;
}

#u1789-3
{
	z-index: 18;
	width: 5px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 550px;
}

#u2241
{
	z-index: 29;
	width: 26px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 570px;
}

#u2243
{
	z-index: 31;
	width: 26px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 607px;
}

#u2247
{
	z-index: 35;
	width: 26px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 643px;
}

#u2245
{
	z-index: 33;
	width: 32px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 677px;
}

#u2241:hover,#u2243:hover,#u2247:hover,#u2245:hover
{
	margin: 8px -10000px 0px 0px;
}

#u2253
{
	z-index: 37;
	width: 291px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 5px;
}

#u1145
{
	z-index: 17;
	width: 720px;
	margin-left: 24px;
	margin-top: 833px;
}

._u1145.f3s_top
{
	height: 3px;
	width: 720px;
}

#pu1806
{
	width: 0.01px;
	margin-left: 256px;
	margin-top: 12px;
	position: relative;
}

#u1806
{
	z-index: 21;
	width: 50px;
	margin-right: -10000px;
}

#u2161
{
	z-index: 23;
	width: 50px;
	margin-right: -10000px;
	left: 69px;
}

#u2176
{
	z-index: 27;
	width: 50px;
	margin-right: -10000px;
	left: 138px;
}

#u2171
{
	z-index: 25;
	width: 60px;
	margin-right: -10000px;
	left: 202px;
}

#u1806:hover,#u2161:hover,#u2176:hover,#u2171:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1345
{
	z-index: 3;
	width: 767px;
	height: 70px;
	margin-top: 11px;
}

#page .verticalspacer
{
	clear: both;
}

